/* Header */
header{
    padding:20px;
    margin:0;
    background-color: rgb(60, 60, 60);
    display:flex;
    flex-direction: row;
    justify-content:center;
}
.titulo-header{
    color: rgb(104, 192, 255);
    margin-top: 60px;
    margin-left:20px;
}
.lista-navegacao{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: center;
}
.item-lista{
    display: inline-flex;
    margin-top:40px;
    margin-bottom: 40px;
    margin-left:15px;
    margin-right:15px;
    font-size: 30px;
    color:aliceblue; 
    cursor:pointer;
    padding:5px;
    text-decoration: none;
}
.anchor{
    text-decoration: none;
}
.item-lista:hover{
    color:dimgrey;
    border: 2px solid rgb(255, 255, 255);
    transition: 0.75s;
}

/* main */
/* Sobre mim */
.div-intro{
    display:flex;
    flex-direction:row;
    align-items: center;
}
.sub-div-intro{
    display:flex;
    flex-direction:column;
}
main{
    margin-top: -30px;
    /* height:750px; */
    background-color: rgb(120, 120, 120);
    padding: 100px;
}
.titulo-principal{
    font-size: 40px;
    color: #bf00ff;
    font-family: 'Pixelify Sans', sans-serif;
}
.hello-world{
    color:azure;
}
#apresentacao{
    width: 90%;
    margin-top:25px;
    font-size: 35px;
    color:lavender;
    font-family: 'Share Tech Mono', monospace;
}
.introducao{
    width:550px;
    margin-top:15px;
    font-size: 20px;
    color:azure;
}
.foto-perfil{
    border-radius:50%;
    height:350px;
    width:350px;
    margin-bottom:50px;
    border:2px solid navy;
}
/* Tecnologias */
#titulo-tecnologias{
    justify-content: center;
    width:50%;
    margin-left:25%;
    font-size: 40px;
    color: #d380ed;
    font-family: 'Pixelify Sans', sans-serif;
}
.div-tecnologias{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.tech{
    width:100px;
    height: 100px;
    margin:20px;
}
/* Habilidades */
#titulo-habilidades{
    justify-content: center;
    width:50%;
    margin-left:25%;
    font-size: 40px;
    color: #d380ed;
    font-family: 'Pixelify Sans', sans-serif;
}
.item-habilidade{
    text-decoration:none;
    color:white;
    font-size:25px;
    margin:10px;
}
/* Projetos */

#titulo-projetos{
    justify-content: center;
    width:50%;
    margin-left:25%;
    font-size: 40px;
    color: #d380ed;
    font-family: 'Pixelify Sans', sans-serif;
}
.lista-projetos{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.projeto{
    width: 30%;
    border: solid 3px gray;
    display: flex;
    flex-direction: column;
    margin:25px;
    align-items: center;
    padding:20px;
    background-color: whitesmoke;
}
.img-projeto{
    width: 100%;
    height: 280px;
}
.titulo-projeto{
    color:rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Sometype Mono', monospace;
}
.tecnologias{
    margin-top: -20px;
    font-size: 25px;
    font-family: 'Sometype Mono', monospace;
}
.icon-tecnologia{
    width:50px;
    height:50px;
    border-radius: 10px;
    margin:10px;
}
.botao{
    width:100%;
    padding:10px;
    background-color: #bf00ff;
    cursor: pointer;
    border:none;
}
.botao:hover{
    background-color: rgb(90, 6, 179);
    transition: 0.7s;
}
.repositorio-gh{
    text-decoration:none;
    color:grey;
    margin:5px;
}
.repositorio-gh:hover{
    color:rgb(72, 71, 71);
    transition:0.5s;
    border-bottom:1px solid black;
}
.texto-botao{
    color: cornsilk;
    font-weight: bold;
    text-decoration: none;
}

/* Footer - contato */
.footer{
    margin-top:-33px;
    background-color:rgb(64, 63, 63);
    padding:10px;
}
#titulo-footer{
    justify-content: center;
    width:50%;
    margin-left:25%;
    font-size: 40px;
    color: #d380ed;
    font-family: 'Pixelify Sans', sans-serif;
}
.contato{
    display:flex;
    flex-direction:row;
}
.contact-icon{
    height:50px;
    width:50px;
    margin-left: 50px;
}
.link-contato{
    color:white;
    font-size:18px;
    margin-left:15px;
}
.fim{
    display:flex;
    flex-direction: column;
    align-content:center;
}
.orc-icon{
    height:40px;
    width:40px;
    margin-left:45%;
    border:1px solid green;
    border-radius:50%;
    padding:3px;
    background-color: rgb(75, 109, 22);
}
.desenvolvedor{
    margin-left:30%;
    color:white;
}